<ul class="nav nav-list">
    <li><a href="/"><i class="icon-home"></i><span>Home</span></a></li>
    <li><a href="@Url.Action("Index", "Message")"><i class="icon-file"></i><span>Messages</span></a></li>
    <li><a href="@Url.Action("Index", "QuestionSheet")"><i class="icon-question-sign"></i><span>Question sheets</span></a></li>
    <li><a href="@Url.Action("Gallery", "Home")"><i class="icon-picture"></i><span>Gallery</span> <span class="badge badge-warning">beta</span></a></li>

</ul><!--/.nav-list-->


