<ul class="nav nav-list">
    <li><a href="/"><i class="icon-home"></i><span>Web drive Home</span></a></li>
	<li><a href="/"><i class="icon-file"></i><span>Messages</span> <span class="label label-info">Not ready</span></a></li>
	<li><a href="/"><i class="icon-picture"></i><span>Gallery</span> <span class="label label-info">Not ready</span></a></li>

</ul><!--/.nav-list-->


