<h1>Web drive</h1>
<p>Browse and downlaod message files at the church</p>


<table class="table table-condensed table-hover">
<thead>
<tr>
    <th class="span1"><input type="checkbox"></th>
    <th class="span2"></th>
    <th class="span2"></th>
    <th class="span9"></th>
    <th class="span2"></th>
</tr>
</thead>
<tbody data-bind="foreach: documents">
    <tr>
        <td><input type="checkbox"> <a href="#"><i class="icon-star-empty"></i></a></td>
        <td><a data-bind="text: Name, attr: { href: '#', title: Name }, with: { path: FullName }"></a></td>
        <td><span class="label pull-right">Notifications</span></td>
        <td><strong>Message body goes here</strong></td>
        <td><strong>11:23 PM</strong></td>
    </tr>
</tbody>
</table>

<script type="text/javascript">
    $(function() {
        var DriveViewModel = function () {
            var self = this;
            self.documents = ko.observableArray();
            self.load = function() {
                $.get('api/documents/', function (data) {
                    self.documents(data);
                });
            };
        };

        var viewModel = new DriveViewModel();
        ko.applyBindings(viewModel);

        viewModel.load();

    });

</script>
