<style>
    .folder-img {
        background-image: url('/Images/folder.png');
    }
 </style>

<h1>Web drive</h1>
<p>Browse and downlaod message files at the church</p>

<ul class="breadcrumb" id="breaddcrumb" data-bind="foreach: breadcrumbs">
    <li><a href="#" data-bind="text: Name, attr: { 'data-path': Path } "></a><span class="divider">/</span></li>
</ul>

<div class="row">
    <div class="span8">
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th class="span5"></th>
                    <th class="span2"></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: documents" id="fileList">
                <tr>
                    <td>
                        <img data-bind="attr: {src: ImagePath}" />
                        <a data-bind="text: Name, attr: { href: '#', title: Name, 'data-path': FullName, 'data-isfolder': IsFolder }"></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="span4">
        Somethings goes here
    </div>
</div>

@Scripts.Render("~/Scripts/webdrive.js")
