<div id="msgUploadDone" class="hide alert alert-block alert-success">
	<p>The following files are uploaded.</p>

	<ul class="unstyled" data-bind="foreach: filesUploaded">
	    <li><span data-bind="text: name"></span> <i class="icon-ok green"></i></li>
	</ul>
            
</div>
