<div class="row-fluid">
	<div class="span12">
	    <ul class="unstyled spaced" data-bind="foreach: recentDownloads">
	        <li><i class="icon-file blue"></i><a href="#" data-bind="    text: Name, click: $parent.clickItem, attr: { title: Name }"></a></li>
	    </ul>

	</div>
</div>


