<div class="row-fluid">
	<div class="span12">
				            
        <ul class="thumbnails" data-bind="foreach: images">
            <li>
                <!-- ko if: !IsDirectory -->
                <a href="#" class="thumbnail"><img data-bind="attr: { src: 'data:' + ContentType + ';base64,' + Content }" /></a>
                <!-- /ko -->
                <!-- ko if: IsDirectory -->
                <div style="text-align: center; width:110px;">
                    <a href="#"><i class="fa fa-folder-o fa-5x"></i><br /><span data-bind="text: Name"></span></a>
                </div>
                <!-- /ko -->
            </li>
        </ul>

	</div>
</div>

