<div class="row-fluid">
	<div class="span12">
				            
        <ul class="thumbnails" data-bind="foreach: images">
            <li><a href="#" class="thumbnail"><img data-bind="attr: { src: 'data:' + ContentType + ';base64,' + FileContents }" /></a></li>
        </ul>

	</div>
</div>

