<div id="page-content" class="clearfix">
	<div class="page-header position-relative">
		<h1>Web gallery<small><i class="icon-double-angle-right"></i> view and download pictures</small></h1>
	</div><!--/.page-header-->

	<div class="row-fluid">
	    
	    <div class="row-fluid">@Html.Partial("_Suggestions")</div>

	    <!--PAGE CONTENT BEGINS HERE-->
        @Html.Partial("_MessageBox")

	    <div class="row-fluid">
    
	        <div class="span12">
	            
	            <div class="widget-box">
	                
	                <div class="widget-header widget-header-flat" id="breadcrumbs">
	                    @Html.Partial("_Breadcrumb")
	                    <div class="widget-toolbar"><button class="btn btn-primary btn-small" id="btnUpload">Upload</button></div>
	                </div>
	                <div class="widget-body"><div class="widget-main">@Html.Partial("_Thumbnails")</div></div>
	            
	            </div><!-- /widget-box -->

	        </div><!--/span-->
            
	    </div>

	    <!--PAGE CONTENT ENDS HERE-->
	</div><!--/row-->
</div><!--/#page-content-->

<script src="~/Scripts/gallery.js"></script>
